/*Carico Font Roboto, anche se un qualsiasi sans-serif preinstallato avrebbe avuto lo stesso risultato*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, serif-sans;
}
/*Padding per spaziare il div del Logo*/
header div{
    padding: 20px;
}

header div *{
    display: inline-block;
    vertical-align: middle;
}

/*Ingrandisco il titolo e spazio un po' le lettere l'una dall'altra*/
div h1{
    font-size: 3em;
    letter-spacing: 0.5px;
}

/*Aggiunto colore girgio impercettibile*/
#task-container{
    padding: 5% 12%;
    background-color: rgba(224, 224, 224, 0.5);
}


/*Aggiunto sfondo bianco come da esercizio che va in contrasto con il girgio impercettibile*/
nav,main{
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
}

nav{
    margin-bottom: 5px;
}

button{
    padding: 5px 8px;
    border-radius: 5px;
}
/*Lascio invariato ed in contrasto il colore del bordo dei bottoni per dare un senso di "pigiatura" del bottone*/
nav button:first-child{
    color: white;
    border-color: #47adf19a;
    background-color: #47adf1;
    margin-right: 5px;
}

nav button:last-child{
    color: #d3d3d3;
    border-color: #d3d3d3d8;
    background-color: white;
}

/*Leggera trasparenza di tutte le scritte delle Tasks*/
main {
    color: rgba(0, 0, 0, 0.8);
}

div a,h3{
    display: inline-block;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}